
body { font-family: 'Open Sans', sans-serif; font-size: 15px; font-weight: 400; color: whitesmoke; line-height: 30px; text-align: center; }

body {
	width:100%;
	height:100%;
	}
.carousel-indicators > li {
	height:40%;
	width: 50%;
	margin-bottom: 100px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-right: 20px;
  } 

  
  .btn-primary-outline {
	display: block;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 8px;
	width: 80%;
	max-width: 200px;
	background: #fff; /* fallback color for old browsers */background: rgba(255, 255, 255, 0.5);
	border-radius: 8px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	letter-spacing: 1px;
	transition: all 0.3s ease-out;
  }

  a, a:hover, a:active, a:visited { 
	  color: white; 
	}
