<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Clean Up Summary
        </title>
        <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css" >
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
            <a href="#" class="navbar-brand">
                <img src="static/img/logo.png" height="28" alt="The Plastic Problem">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="#" class="nav-item nav-link active">Home</a>
                    <a href="#" class="nav-item nav-link">Profile</a>
                    <a href="#" class="nav-item nav-link">Source</a>
                    <a href="#" class="nav-item nav-link">Effect</a>
                    <a href="#" class="nav-item nav-link">Resolution</a>
                    <a href="#" class="nav-item nav-link disabled" tabindex="-1">Data</a>
                </div>
                <div class="navbar-nav ml-auto">
                    <a href="#" class="nav-item nav-link">Pictures</a>
                </div>
            </div>
        </nav>

        <div class="jumbotron-fluid m-5 p-5">
            <div class="container-fluid">
                
                <div class="row p-2">
                    <h2 style="margin:auto">What we've cleaned up in 2019</h2>
                </div>
                <hr>
                
                <div class = "row p-1">
                    <div id="funnel" style="margin:auto"></div>
                </div>
                <div class="row p-4">
                    <h2 style="margin:auto">Where we cleaned up since 2015</h2>
                </div>
                <hr>
                <div class="row">
                    <div id="map"></div>
                </div>
            </div>
        </div>

        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="static/js/d3-funnel.js"></script>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script src="static/js/cleanUpSummary.js"></script>
        

        
    </body>