<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sources of Plastic Waste</title>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

  <div id="prodline"></div>

  <select id="selDataset">
    <option value="Plastic_Production">Plastic_Production</option>
    <option value="Discarded">Discarded</option>
    <option value="Incinerated">Incinerated</option>
    <option value="Recycled">Recycled</option>
  </select>


  <div id="piesector"></div>
  
  <script src="plots.js"></script>

  <script src="static/js/plots.js"></script>

</body>

</html>
