<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Plastic Problems
        </title>
        <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">
    </head>

    <body>
        <script>
            var table1 = '{{ table1|safe }}';
            var table2 = '{{ table2|safe }}';
            var table3 = '{{ table3|safe }}';
            var table4 = '{{ table4|safe }}';
            var table5 = '{{ table5|safe }}';
            var table6 = '{{ table6|safe }}';
            var table7 = '{{ table7|safe }}';
            var table8 = '{{ table8|safe }}';
        </script>
        <script src="js/home.js"></script>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a href="#" class="navbar-brand">
                <img src="../img/logo.png" height="28" alt="The Plastic Problem">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">>
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarColor01">
                <div class="navbar-nav mr-auto">
                    <a href="#" class="nav-item nav-link active">Home</a>
                    <a href="#" class="nav-item nav-link">Source</a>
                    <a href="#" class="nav-item nav-link">Effect</a>
                    <a href="#" class="nav-item nav-link">Resolution</a>
                    <a href="#" class="nav-item nav-link">Pictures</a>
                </div>
                <div class="navbar-nav ml-auto">
                    <a href="#" class="nav-item nav-link">Data</a>
                </div>
            </div>
        </nav>