<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Plastic Problems
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>

    <body>
        <script>
            var table1 = '{{ table1|safe }}';
            var table2 = '{{ table2|safe }}';
            var table3 = '{{ table3|safe }}';
            var table4 = '{{ table4|safe }}';
            var table5 = '{{ table5|safe }}';
            var table6 = '{{ table6|safe }}';
            var table7 = '{{ table7|safe }}';
            var table8 = '{{ table8|safe }}';
        </script>
        <script src="js/home.js"></script>

        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a href="#" class="navbar-brand">
                <img src="img/logo.png" height="28" alt="The Plastic Problem">
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="#" class="nav-item nav-link active">Home</a>
                    <a href="#" class="nav-item nav-link">Profile</a>
                    <a href="#" class="nav-item nav-link">Source</a>
                    <a href="#" class="nav-item nav-link">Effect</a>
                    <a href="#" class="nav-item nav-link">Resolution</a>
                    <a href="#" class="nav-item nav-link disabled" tabindex="-1">Data</a>
                </div>
                <div class="navbar-nav ml-auto">
                    <a href="#" class="nav-item nav-link">Pictures</a>
                </div>
            </div>
        </nav>

        <div class="jumbotron jumbotron-fluid m-5 p-5">
            <div class="container">
                <h1>The Plastic Problem </h1>
                <p class="lead">Humanity has a problem. Pollution, we’re addicted to it. One of the largest contributors to this addiction is our love of plastic. Why? Because we are lazy and love convenience. It’s in everything, from packaging to construction to medical equipment. But when we’re done with it, where does this manmade material go?

                    This presentation will attempt to answer the below questions using the datasets outlined:
                </p>
                <p>Where does it come from - https://ourworldindata.org/where-does-plastic-accumulate</p>
                <img src="img/source.png">
                <p>What are the impacts - https://ourworldindata.org/ecological-impacts-of-marine-plastic-debris</p>
                <iframe src="https://ourworldindata.org/ecological-impacts-of-marine-plastic-debris" ></iframe>
                <p>What’s being done - https://www.coastalcleanupdata.org/reports</p>
                <iframe src="https://www.coastalcleanupdata.org/reports" ></iframe>

            </div>

        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="d3.min.js?v=3.2.8"></script>
        <script src="js/home.js"></script>
        
        



        
        </div>

        <script type="text/javascript"charset="utf-8"></script>
        <script src="paste custom js"></script>

        
    </body>